.icon {
  background: transparent;
  border: transparent;
  color: black;
}


tr.expendable-description-row {
  height: 0;
}

tr.expendable-description-row-row:not(.expendable-description-row):hover {
  background: whitesmoke;
}

tr.expendable-description-row:not(.expendable-description-row):active {
  background: #efefef;
}

.expendable-description-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.preset-description {
  padding: 16px;
}

p {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
