html {
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, “Helvetica Neue”, sans-serif;
  width: 500px;
}

* {
  padding:0 0 0 0;
  margin:0 0 0 0;
}

.snack-bar {
 font-size: 5pt !important;
}

.mat-simple-snack-bar-content{
  font-size: 8pt !important;
}
