@import '@angular/material/prebuilt-themes/indigo-pink.css';
html {
  position: relative;
  background-color:black;
}

body {
  margin: 0;
  font-family: Roboto, “Helvetica Neue”, sans-serif;
  width: 500px;
  height:min-content;
}
